{% if master.parent%}
<a href="/file-system/{{master.parent.pk}}/">Back</a>
{%else%}
<a href="/file-system/">Back</a>
{%endif%}
<hr>


{%for d in dirs%}
<a href="/file-system/{{d.pk}}/">{{d.name}}</a>|||<a href="/file-system/{{d.id}}/remove_folder/">delete</a><br>
{%endfor%}

<hr>
{%for f in files%}
<a href="/file-system/{{f.id}}/download_file/">{{f.name}}</a>|||<a href="/file-system/{{f.id}}/remove_file/">delete</a><br>
{%endfor%}
<hr>

<form action="upload_file/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input type="file" name="file" required id="id_file" />
    <input type="submit" value="Submit" />
</form>

<hr>

<form action="create_folder/" method="post">
    {% csrf_token %}
    <input type="text" name="name" required id="id_name" maxlength="50" />
    <input type="submit" value="Submit" />
</form>