/*---------------------------------------base---------------------------------------------*/
@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex: 1 0 auto;
    width: 100%;
    background-color: #eceff1;
    margin: 0;
    padding-bottom: 2%;
}
/*------------header---------------*/
header {
    display: flex;
    justify-content: space-between;
    width:100%;
    background: rgba(186,189,190,1);
    padding: 0.3%;
    flex-grow: 1;
}

.header_left {
    margin: 0.3%;
    width: 30%;
}

.header_right {
    display: flex;
    width: 30%;
    margin: 0.3%;
    justify-content: flex-end;
}

.header_right form {
    display: flex;
    align-self: flex-end;
    margin: 0.1%;
}

.btn-primary {
    font-size: 16px;
    font-family: "Montserrat-Light","Arial",sans-serif;
    font-weight: 400;
}


/*.btn_logout {*/
    /*background: url('../img/logout_sprites.png') no-repeat 0 0;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*border: none;*/
/*}*/

/*.btn_logout:hover {*/
    /*background: url('../img/logout_sprites.png') no-repeat -53px 0;*/
/*}*/

/*---------------------main---------------------*/
main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0.3%;
}
/*-----------------side-nav--------------------*/

nav {
    width: 20%;
    background-color: whitesmoke;
    height: 100%;
    margin: 0.3% 0.3% 0 0.3%;
    border-radius: 2%;
}

.logo {
    background-color: #007ac1;
    width:100%;
    height: 50px;
    border-radius: 2%;
    border: 1px solid transparent;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: block;
    width: 100%;
    height: 100%;
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "Montserrat-Light","Arial",sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 4%;
    border-radius: 7%;
    border: 2px solid transparent;
    transition: background-color 300ms ease, border-bottom 200ms ease;
}


nav ul li a:hover {
    text-decoration: none;
    background-color: #eceff1;
    border-bottom: 2px solid #67daff;
    color: black;
}
/*------------------------sections-------------------*/
.mainSection {
    width: 100%;
    background-color: whitesmoke;
    margin: 0.3%;
    height: 100%;
    border-radius: 1%;
    padding: 2%;
}
/*--------------------QUESTION.HTML---------------------*/
.variantBox {
    border: 1px solid red;
}
/*------------------------FILE_SYSTEM.HTML--------------*/


.file-system {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.file-system table {
    width: 100%;
}

.file-system tr:hover {
    color: deepskyblue;

}

.newBox {
    display: flex;
    width: 100%;
    
}

.collapseBox {
    width: 30%;
    margin-right: 2%;
}

.collapseBox p {
    font-size: 16px;
    font-family: "Montserrat-Light","Arial",sans-serif;
    border: 1px solid black;
}

.collapseBox p:hover{
    color: deepskyblue;
}

.collapseBox form{
    display: flex;
    flex-direction: column;
}

.collapseBox form {
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
    background-color: #e8eaf6;
    border: 2px solid transparent;
    border-radius: 3%;
}

.collapseBox label,
.collapseBox input{
    display: flex;
    width:100%;
}

#directory_name,
#file_name {
    border: 2px solid transparent;
    border-radius: 2%;
    margin: 1% 0;
    transition: border 700ms ease;
}


#directory_name:hover,
#file_name:hover{
    border: 2px solid  deepskyblue;
    border-radius: 2%;
}

.collapseBox input[type=submit] {
    margin: 1% 0;
    width:40%;
}



/*------------------------------------file-system---------------------*/

/*----------------------footer------------------*/
footer {
    flex: 0 0 auto;
    width: 100%;
    padding: 3%;
    background-color: #37474f;
}